<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li th:fragment="tree(targetNote, noteList)" th:each="note : ${noteList}">
    <a th:href="@{|/note/${note.id}|}" th:if="${note.getChildList().isEmpty()}" th:text="${note.title}"
       th:class="${note.id == targetNote.id} ? 'now' : ''"></a>
    <details th:unless="${note.getChildList().isEmpty()}" open>
        <summary th:class="${note.id == targetNote.id} ? 'now' : ''">
            <a th:href="@{|/note/${note.id}|}" th:text="${note.title}"></a>
        </summary>
        <ul>
            <li th:replace="~{/fragments :: tree(${targetNote}, ${note.getChildList()})}"></li>
        </ul>
    </details>
</li>

</body>
</html>