<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>환영합니다!</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.0.4/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<!-- 전체 -->
<div class="all">
    <!-- 상단메뉴 -->
    <div class="top">
        <a href="/" class="logo">logo</a>
    </div>
    <!-- 콘텐츠 전체 -->
    <div class="content-wrap">
        <!-- 왼쪽 컨텐츠 노트 -->
        <div class="left-menu">
            <form action="/note/create" method="post">
                <input type="submit" value="노트추가" class="btn btn-active btn-block"
                       style="transition: none; animation: none;">
            </form>
            <form action="/note/delete" method="post">
                <input type="hidden" name="targetNoteid" th:value="${targetNote.id}">
                <input type="button" value="노트삭제" class="btn btn-active btn-block"
                       style="transition: none; animation: none;" onclick="confirmClick(this, DELETE)">
            </form>
            <h1>노트목록</h1>
            <ul class="menu bg-base-200 rounded-box">
<!--                <li th:replace="~{/fragments :: tree(${targetNote}, ${noteList})}"></li>-->
                <li th:each="note : ${noteList}">
                    <a th:href="@{|/note/${note.id}|}" th:if="${note.getChildList().isEmpty()}" th:text="${note.title}"
                       th:class="${note.id == targetNote.id} ? 'now' : ''"></a>
                    <details th:unless="${note.getChildList().isEmpty()}" open>
                        <summary th:class="${note.id == targetNote.id} ? 'now' : ''">
                            <a th:href="@{|/note/${note.id}|}" th:text="${note.title}"></a>
                        </summary>
<!--                        <ul>-->
<!--                            <li th:replace="~{/fragments :: tree(${targetNote}, ${note.getChildList()})}"></li>-->
<!--                        </ul>-->
                    </details>
                </li>
            </ul>
            <form action="/note/groupAdd" method="post">
                <input type="submit" value="하위노트추가" class="btn btn-active btn-block"
                       style="transition: none; animation: none;">
                <input type="hidden" name="targetNoteid" th:value="${targetNote.id}">
            </form>
        </div>
        <!-- 왼쪽 컨텐츠 글 -->
        <div class="left-menu">
            <form action="/article/create" method="post">
                <input type="submit" value="글추가" class="btn btn-active btn-block"
                       style="transition: none; animation: none;">
                <input type="hidden" name="targetNoteid" th:value="${targetNote.id}">
            </form>
            <form action="/article/delete" method="post">
                <input type="button" value="글삭제" class="btn btn-active btn-block"
                       style="transition: none; animation: none;" onclick="confirmClick(this, DELETE)">
                <input type="hidden" name="targetArticleid" th:value="${targetArticle.id}">
            </form>
            <h1>글목록</h1>
            <ul th:each="article : ${articleList}" th:class="${article.id == targetArticle.id} ? 'now' : ''">
                <a th:href="@{|/article/${article.id}|}" th:text="${article.title}"></a>
            </ul>
        </div>
        <!-- 중앙 컨텐츠 -->
        <div class="content">
            <form action="/article/modify" method="post">
                <input type="hidden" name="targetArticleid" th:value="${targetArticle.id}">
                <div class="textbox">
                    <input type="text" name="title" th:value="${targetArticle.title}" class="title">
                </div>
                <div class="textbox">
                    <textarea name="content" cols="30" rows="10" th:text="${targetArticle.content}"></textarea>
                </div>
                <input type="button" value="수정하기" class="btn btn-active" style="transition: none; animation: none;"
                       onclick="confirmClick(this, MODIFY)">
            </form>
        </div>
    </div>
</div>
<script>
    MODIFY = {
        'msg' : '수정하시겠습니까?'
    }
    DELETE = {
        'msg' : '삭제하시겠습니까?'
    }


    function confirmClick(input, action) {
        if(confirm(action.msg)) {
            input.form.submit();
        }
    }
</script>
</body>
</html>